body {
	background-image: url(../images/grid.png);
	font-family: "Raleway";
	font-size: 16px;
	text-align: center;
}


.spacer {
	height: 0em;
}

.navbar-transparence {
	background-color: rgb(255, 255, 255);
}

.navbar-brand {
	font-weight: bold;
}

.btn-primary {
	background-color: rgb(37, 213, 203); 
	border-color: rgb(37, 213, 203);
	box-shadow: 0 0 23px rgba(0,0,0,0.25);

}

.btn-primary:hover {
	 background-color: #25CBCB;
	 border-color: #25CBCB;
	 text-decoration: none;
}

.vertical-spacer {
	height: 3.5em;
}

