body {
	background-image: url(../images/grid.png);
	font-family: "Helvetica";
	font-size: 16px;
	text-align: center;
}

#wrapper {
	background-image: url(../images/462.jpeg);
	height: 650px;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	color: #404040;
	text-shadow: 2px 2px 5px rgba(64, 64, 64, 0.5);
}

#wrapper h1 {
	font-size: 40px;
	background: rgba(255, 255, 255, 0.7);
	display: inline-block;
	padding: 0.2em;
}

#wrapper h2 {
	font-size: 20px;
	margin-bottom: 2em;
}

#wrapper button {
	font-size: 30px;
}

#wrapper button a {
	text-decoration: none;
	color: white;
}

.spacer {
	height: 0em;
}

.navbar-transparence {
	background-color: rgb(255, 255, 255);
}

.navbar-brand {
	font-weight: bold;
}

.btn-primary {
	background-color: rgb(37, 213, 203); 
	border-color: rgb(37, 213, 203);
	box-shadow: 0 0 23px rgba(0,0,0,0.25);

}

.btn-primary:hover {
	 background-color: #25CBCB;
	 border-color: #25CBCB;
	 text-decoration: none;
}

.vertical-spacer {
	height: 3.5em;
}



#apropos {
	text-align: center;
}

#apropos h2 {
	color: #25CBCB;
	font-size: 35px;
	font-weight: bold;
	border-right: 1px solid #25CBCB;
	border-left: 1px solid #25CBCB;
	border-right-width: 100px;
	border-left-width: 100px;
	height: 3px;
	display: inline-block;
	top: 50%;
	right: 100%;
	float: none;
	zoom: 1;
	padding: 0 20px;
	padding-border-top: 100px
}

#video h2 {
	color: #25CBCB;
	font-size: 35px;
	font-weight: bold;
	border-right: 1px solid #25CBCB;
	border-left: 1px solid #25CBCB;
	border-right-width: 100px;
	border-left-width: 100px;
	height: 3px;
	display: inline-block;
	top: 50%;
	right: 100%;
	float: none;
	zoom: 1;
	padding: 0 20px;
	padding-border-top: 100px
}

#programme {
	text-align: center;
}

#programme h2 {
	color: #25CBCB;
	font-size: 35px;
	font-weight: bold;
	border-right: 1px solid #25CBCB;
	border-left: 1px solid #25CBCB;
	border-right-width: 100px;
	border-left-width: 100px;
	height: 3px;
	display: inline-block;
	top: 50%;
	right: 100%;
	float: none;
	zoom: 1;
	padding: 0 20px;
	padding-border-top: 100px
}

#equipe {
	text-align: center;
}

#equipe h2 {
	color: #25CBCB;
	font-size: 35px;
	font-weight: bold;
	border-right: 1px solid #25CBCB;
	border-left: 1px solid #25CBCB;
	border-right-width: 100px;
	border-left-width: 100px;
	height: 3px;
	display: inline-block;
	top: 50%;
	right: 100%;
	float: none;
	zoom: 1;
	padding: 0 20px;
	padding-border-top: 100px
}


#equipe p {
	padding-right: 100px;
	padding-left: 100px;
}

#equipe a {
	color: rgb(0, 197, 210);
	font-style: bold;
	font-size: 20px; 
}



#button2{
	background-color: rgb(255, 192, 0); 
	border-color: rgb(255, 192, 0);
	box-shadow: 0 0 23px rgba(0,0,0,0.25);
	text-align: center;

}

#button2 a {
	color: white;
	font-weight: bold;
	font-size: 30px;
}

#button2 a:hover{
	color: rgb(235, 235, 235);
	text-decoration: none;
}




#contact h2 {
	margin-top: 0px;
}

#contact h2 {
	color: #25CBCB;
	font-size: 35px;
	font-weight: bold;
	border-right: 1px solid #25CBCB;
	border-left: 1px solid #25CBCB;
	border-right-width: 100px;
	border-left-width: 100px;
	height: 3px;
	display: inline-block;
	top: 50%;
	right: 100%;
	float: none;
	zoom: 1;
	padding: 0 20px;
	padding-border-top: 100px
}

#contact a {
	color: rgb(38,38,38);
}

#contact a:hover {
	color: white;
	text-decoration: none;
}


#contact {
	background-color: rgba(37, 213, 203, 0.4);
	color: black;
	padding-top: 3em;
	padding-bottom: 3em;
}


.label {
	background-color: rgb(255, 192, 0);
}

#footer2 {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#footer2 a {
	color : rgb(38, 38, 38);
	text-decoration: none;
}

#footer2 a:hover {
	color: white;
	text-decoration: none;
}